absl-py==0.11.0
antlr4-python3-runtime==4.8
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.8
filelock==3.0.12
fsspec==0.8.5
future==0.18.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grpcio==1.34.0
Hydra==2.5
hydra-core==1.0.4
idna==2.10
importlib-metadata==3.3.0
importlib-resources==4.1.1
joblib==1.0.0
Markdown==3.3.3
nmslib==2.0.8
numpy==1.19.4
oauthlib==3.1.0
omegaconf==2.0.5
packaging==20.8
pkg-resources==0.0.0
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pyparsing==2.4.7
pytorch-lightning==1.1.2
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
sacremoses==0.0.43
six==1.15.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tokenizers==0.9.4
torch==1.7.1
tqdm==4.55.1
transformers==4.0.1
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
zipp==3.4.0
